@import url('https://fonts.googleapis.com/css?family=Montserrat');
ion-content {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

ion-card {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    margin: 0 !important;
    background: white;
}

ion-card-title {
    font-size: 2em;
}

.button {
    text-align: center;
    margin: 1em auto;
    width: 70%;
}

ion-item {
    --ion-background-color: transparent;
}

.location {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.location p {
    font-size: 1.5em;
}

.location div {
    margin-top: 2em;
}