<ion-content>
    <ion-card margin-top>
        <ion-card-header>
            <ion-card-title text-center color="">Change City</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-item>
                <ion-label position="floating" color="">City</ion-label>
                <ion-input color="" type="text" [(ngModel)]="city" name=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" color="">County</ion-label>
                <ion-input color="" type="text" [(ngModel)]="country" name=""></ion-input>
            </ion-item>

            <div class="button">
                <ion-button size="medium" color="" (click)="saveForm()">
                    Submit
                </ion-button>
            </div>

            <div class='location'>

                <div text-center>
                    <ion-button align-self-center justify-content-center size="medium" color="warning" (click)="getLocation()">Locate me
                        <ion-icon name="help"></ion-icon>
                    </ion-button>
                </div>

            </div>

        </ion-card-content>
    </ion-card>
</ion-content>