@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container {
    color: black;
    font-family: 'Montserrat', sans-serif;
    animation: clouds 5000ms infinite;
    background: white;
    //background-image: linear-gradient(to bottom, transparent, rgba(196, 222, 255, 0.623)), url(../../assets/day-clear-clouds.jpeg);
    //animation: clouds 45s forwards;
    //animation-timing-function: linear;
}

//.container-night {
//    color: white;
//    font-family: 'Montserrat', sans-serif;
//animation: clouds 5000ms infinite;
//    background-image: linear-gradient(to bottom, transparent, rgba(196, 222, 255, 0.623)), url(../../assets/clouds-ight.jpg);
//    animation: clouds 140s forwards;
//animation-timing-function: linear;
//}
// Background Animation
//@keyframes clouds {
///  from {
//     background-position: -400px 1px
//  }
//  to {
//    background-position: 0px 0px
//  }
//}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
}

.condition {
    margin-top: .5em;
    font-size: 2em;
    font-weight: bolder;
}

.temp {
    margin-top: .3em;
    font-size: 4em;
}

.data {
    display: flex;
    justify-content: flex-start;
    margin: 3.5em 1em;
    justify-content: space-between;
    font-size: 1.5em;
    transform: translateY(-2em);
}

.line {
    margin: -5.8em auto 0;
    height: .2em;
    background: green;
    width: 95%;
}

.info {
    margin: 1em 1em;
    font-weight: bolder;
}

.label {
    display: flex;
    justify-content: space-around;
    height: 2em;
    align-items: center;
    margin-left: 1.3em;
}

.label p {
    width: 10em;
}

.infoName {
    display: flex;
    justify-content: space-around;
    height: 2em;
    align-items: center;
    margin-left: 1.3em;
}

.infoName p {
    font-size: 2em;
    width: 5em;
    font-weight: bolder;
}

.bottomLine {
    height: .25em;
    background: green;
    width: 95%;
    margin: 2em auto;
}

.changeBtn {
    display: block;
    position: relative;
    left: 60%;
    bottom: 9px;
}

.unit {
    transform: translate(-4.5em, .5em);
    font-size: 12px !important;
}

.percent {
    transform: translate(-4em, .5em);
    font-size: 14px !important;
}

.inMg {
    transform: translate(-3.5em, .5em);
    font-size: 12px !important;
}

.mph {
    transform: translate(-7em, .5em);
    font-size: 12px !important;
}

.looks-like {
    font-size: 16px !important;
    position: relative;
    right: 60px;
    top: 7px;
}

@media only screen and (min-width: 400px) {
    .notMobile {
        margin: 0 auto;
        position: relative;
        width: 400px;
    }
    ;
}