<ion-header>
    <ion-toolbar color="primary" center>
       
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place" showCancelButton="always"></ion-searchbar>
      <ion-icon name="locate" (click)="tryGeolocation()">Locate Me !</ion-icon>
    
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  
    <div id='map'></div>
  </ion-content>
  
  <ion-footer>
  
  </ion-footer>