<ion-header>
  <ion-toolbar color="success">
    <ion-title slot='centerPoint'>Dashboard</ion-title>
    <ion-button fill="outline" size="small" color="warning" slot="end" (click)="logoutUser()">LogOut <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header> 

<ion-content padding>
  <ion-item text-center><ion-label> السلام عليكم</ion-label> </ion-item>
  <ion-card size-sm>
    <ion-card-header> 
      Solat Performance
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
    <ion-button class="submit-btn" size="medium" type="submit" expand="block" routerLink="/tabs/tab7" routerDirection="root">See Detailed</ion-button>
  </ion-card>
  <ion-grid ion-grid-width-md>
    <ion-row justify-content-center >
      <ion-col >
        <div text-center>
            <a href="https://qiblafinder.withgoogle.com/"><ion-icon name="compass" class="centerPoint"></ion-icon></a>
            <ion-item text-center><ion-label>Qiblat Finder</ion-label></ion-item>
        </div>
      </ion-col>
      <ion-col >
          <div text-center>
              <ion-icon name="clock" (click)="goToSolatTime()" class="centerPoint" ></ion-icon>
              <ion-item text-center><ion-label>Solat Time</ion-label></ion-item>
          </div>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col >
          <div text-center>
              <ion-icon name="hand" (click)="goToMosque()" class="centerPoint"></ion-icon>
              <ion-item text-center><ion-label>Mosque Locator</ion-label></ion-item>
          </div>
        </ion-col>
        <ion-col >
            <div text-center>
                <ion-icon name="restaurant"  (click)="goToRestaurant()" class="centerPoint"></ion-icon>
                <ion-item text-center><ion-label>Restaurant Locator</ion-label></ion-item>
            </div>
          </ion-col>
      </ion-row>
      <ion-row justify-content-center>
          <ion-col>
            <div text-center>
                <ion-icon name="partly-sunny" (click)="goToWeather()" class="centerPoint"></ion-icon>
                <ion-item text-center><ion-label>Weather Forecast</ion-label></ion-item>
            </div>
          </ion-col>
          <ion-col>
              <div text-center>
                <ion-icon name="airplane" (click)="goToMusafir()" class="centerPoint"></ion-icon>
                  <ion-item text-center><ion-label>Musafir Verify</ion-label></ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col>
              <div text-center>
                <ion-icon name="map" (click)="goMap()" class="centerPoint"></ion-icon>
                <ion-item text-center><ion-label>Map</ion-label></ion-item>
              </div>
            </ion-col>

            <ion-col>
              <div text-center>
            <!-- <ion-button  size="small" color="primary" (click)="onGet()" slot='start'>?</ion-button> -->
             <!-- <ion-icon name="map" (click)="goMap()" class="centerPoint"></ion-icon> -->
            <ion-label ><b>Musafir Status :</b> {{message}}</ion-label><br>
            <!-- <ion-button fill="outline" size="small" (click)="onGet()"><ion-icon ios="ios-help" md="md-help"></ion-icon></ion-button> -->
            <ion-button fill="outline" size="small" color="danger"  (click)="onUpdates()">DISABLE</ion-button>
              </div>
            </ion-col>
        </ion-row>

  </ion-grid>
</ion-content>
