.inline-block {
    display: inline-block;
}

.p{
    padding-left: 15px;
}


    .centerPoint {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
