<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content center padding>

    <ion-card >
      <ion-card-content text-center>
          <h1> السلام عليكم</h1>
          <ion-img class="centerPoint" style="width: 150px; height: 100px" src="assets/solaticon.png"></ion-img>
          <h1>Welcome to Solat Tracker</h1>
      </ion-card-content>
    </ion-card>

    <br>
    <br>
    <br>

<ion-button expand="block" routerLink="/login" routerDirection="root" color="success">Go</ion-button>
</ion-content>
