<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--The text field for Full Name
        The variable name for this text field is "full_name"-->
  <ion-item>
    <ion-input name="full_name" type="text" placeholder="Full Name"></ion-input>
  </ion-item>

  <!--This is Gender selection
        The variable name for the selection of female is named as "female"
        The variable name for the selection of male is named as "male"-->
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select">
      <ion-select-option name="female" value="f">Female</ion-select-option>
      <ion-select-option name="male" value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>

  <!--This is Birth Date selection
        The variable name for this field is named as "birth_date"-->
  <ion-item>
    <ion-label>Birth Date</ion-label>
    <ion-datetime name="birth_date" display-format="DD-MM-YYYY"></ion-datetime>
  </ion-item>

  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">


    <!--This is the text field for Email
          The varibale name of this text field is "email"-->
    <ion-item>
      <ion-input type="text" formControlName="email" placeholder="your@email.com"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!--This is the text field for Password
            The variable name of this text field is "password"-->
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password" class="form-controll" required>
      </ion-input>
    </ion-item>

    <!--This is text field for Password Confirmation
            The varible name for this text field is "confirm_password"-->
    <ion-item>
      <ion-input name="confirm_password" type="password" placeholder="Confirm Password" required></ion-input>
    </ion-item>

    <!--This is the text field for Contact Number
               The varibale name of this text field is "contact_no"-->
    <ion-item>
      <ion-label>+60</ion-label>
      <ion-input name="contact_no" type="number" placeholder="Contact Number" required></ion-input>
    </ion-item>


    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <br>

    <!--This is the checkbox for term & conditions-->
    <div class="inline-block">
      <ion-checkbox></ion-checkbox>
    </div>

    <!--Accept terms and conditions-->
    <div class="inline-block">
      <div class="p">
        <h6><a href="">Accept terms & conditions</a></h6>
      </div>
    </div>

    <!--This is the button "Sign Up"-->
    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" size="large" type="submit"
      expand="block">Sign Up</ion-button>

    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
</ion-content>